.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 437px;
  height: 566px;
  border-radius: 12px;
}

.title {
  font-weight: 500;
  color: #767676;
  margin-bottom: 16px;
}
