.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.layout .main {
  background: #F0F0F0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.layout .main main {
  padding: 18px 23px;
  overflow-y: auto;
  height: calc(100vh - 68px);
}
